In [1]:
import pandas as pd
import numpy as np

In [2]:
cyc = pd.read_csv(r'/Users/pedrorodriguez/Desktop/Springboard/Capstone_Project/Second Part/Cycle_time_per_station')
dtf = pd.read_csv(r'/Users/pedrorodriguez/Desktop/Springboard/Capstone_Project/Second Part/Downtime_freq')
dtt = pd.read_csv(r'/Users/pedrorodriguez/Desktop/Springboard/Capstone_Project/Second Part/Downtime_time')

In [3]:
print(cyc.info())
print(dtt.info())
print(dtf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5200 non-null   int64
 1   station          5200 non-null   float64
 2   production_line  5200 non-null   float64
 3   Sample           5200 non-null   object
 4   Cycle_time       5200 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 203.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   5200 non-null   int64
 1   station      5200 non-null   object
 2   station_no.  5200 non-null   int64
 3   variable     5200 non-null   object
 4   value        5200 non-null   int64
dtypes: int64(3), object(2)
memory usage: 203.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1248 non-null   int64
 1   station      1248 non-null   object
 2   station_no.  1248 non-null   int64
 3   Date         1248 non-null   object
 4   Downtime     1248 non-null   int64
 5   Year         1248 non-null   int64
dtypes: int64(4), object(2)
memory usage: 58.6+ KB
None

The information of cycle time and downtime-time have the same shape and have the same column. Downtime-time does not have a production line and is something that will need in future analysis. Let's put the same columns format as an object for the station and merge these two datasets.

In [4]:
print('\nCycle time\n' ,cyc.isnull().sum())
print('\nDowntime-time\n' ,dtt.isnull().sum())
print('\n\nFrequency\n' ,dtf.isnull().sum())

Cycle time
 Unnamed: 0         0
station            0
production_line    0
Sample             0
Cycle_time         0
dtype: int64

Downtime-time
 Unnamed: 0     0
station        0
station_no.    0
variable       0
value          0
dtype: int64


Frequency
 Unnamed: 0     0
station        0
station_no.    0
Date           0
Downtime       0
Year           0
dtype: int64

In [5]:
cyc.head()

   Unnamed: 0  station  production_line      Sample  Cycle_time
0           0      1.0              1.0  Unnamed: 6   96.200000
1           1      2.0              1.0  Unnamed: 6   22.200000
2           2      3.0              2.0  Unnamed: 6    7.250000
3           3      4.0              2.0  Unnamed: 6   11.666667
4           4      5.0              2.0  Unnamed: 6   75.250000

In [6]:
#The 3 datasets do not have nulls values
#Seems like Cycle time and downtimes-times have the same shape.
#lets clean both datasets and merge them

cyc['station'] = cyc['station'].astype(int)
cyc.head()

   Unnamed: 0  station  production_line      Sample  Cycle_time
0           0        1              1.0  Unnamed: 6   96.200000
1           1        2              1.0  Unnamed: 6   22.200000
2           2        3              2.0  Unnamed: 6    7.250000
3           3        4              2.0  Unnamed: 6   11.666667
4           4        5              2.0  Unnamed: 6   75.250000

In [7]:
#The Unnamed: 0 and Samples are unnecessary columns
del cyc['Unnamed: 0']
del cyc['Sample']

In [8]:
#The columns station and production line are categories but are in numerical formats, let's change it to object
cyc['station'] = cyc['station'].astype(object)
cyc['production_line'] = cyc['production_line'].astype(object)
cyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station          5200 non-null   object
 1   production_line  5200 non-null   object
 2   Cycle_time       5200 non-null   float64
dtypes: float64(1), object(2)
memory usage: 122.0+ KB

In [9]:
#Let's clean now the downtime dataset
dtt.head()

   Unnamed: 0    station  station_no.  variable  value
0           0  station 1            1  sample 1   2942
1           1  station 2            2  sample 1    605
2           2  station 3            3  sample 1    717
3           3  station 4            4  sample 1   1014
4           4  station 5            5  sample 1   1743

In [10]:
del dtt['Unnamed: 0']
del dtt['variable']
del dtt['station']

In [11]:
dtt = dtt.rename(columns={'station_no.': 'station', 'value': 'downtime'})
dtt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   station   5200 non-null   int64
 1   downtime  5200 non-null   int64
dtypes: int64(2)
memory usage: 81.4 KB

In [12]:
cyc.head()

  station production_line  Cycle_time
0       1               1   96.200000
1       2               1   22.200000
2       3               2    7.250000
3       4               2   11.666667
4       5               2   75.250000

In [13]:
dtt.head()

   station  downtime
0        1      2942
1        2       605
2        3       717
3        4      1014
4        5      1743

In [17]:
df = pd.merge(cyc, dtt, how= 'left',on= ['station'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520000 entries, 0 to 519999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   station          520000 non-null  object
 1   production_line  520000 non-null  object
 2   Cycle_time       520000 non-null  float64
 3   downtime         520000 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 19.8+ MB

In [19]:
df.isnull().sum()

station            0
production_line    0
Cycle_time         0
downtime           0
dtype: int64

In [20]:
df = df.reset_index()
df.head()

   index station production_line  Cycle_time  downtime
0      0       1               1        96.2      2942
1      1       1               1        96.2      2671
2      2       1               1        96.2      2625
3      3       1               1        96.2      1364
4      4       1               1        96.2      2949

In [32]:
del df['level_0']
del df['level_1']

In [33]:
df.head()

  station production_line  Cycle_time
0       1               1   96.200000
1       2               1   22.200000
2       3               2    7.250000
3       4               2   11.666667
4       5               2   75.250000

With the isnull() method we can see that we merge the datasets successfully.

In [18]:
dtf.head()

   Unnamed: 0    station  station_no.        Date  Downtime  Year
0           0  station 1            1  2018-01-01         8  2018
1           1  station 2            2  2018-01-01         8  2018
2           2  station 3            3  2018-01-01         4  2018
3           3  station 4            4  2018-01-01         7  2018
4           4  station 5            5  2018-01-01         6  2018

In [19]:
del dtf['Unnamed: 0']
del dtf['station']

In [20]:
dtf = dtf.rename(columns= {'station_no.' : 'station'})
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   station   1248 non-null   int64
 1   Date      1248 non-null   object
 2   Downtime  1248 non-null   int64
 3   Year      1248 non-null   int64
dtypes: int64(3), object(1)
memory usage: 39.1+ KB

In [21]:
dtf['station'] = dtf['station'].astype(object)
dtf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   station   1248 non-null   object
 1   Date      1248 non-null   object
 2   Downtime  1248 non-null   int64
 3   Year      1248 non-null   int64
dtypes: int64(2), object(2)
memory usage: 39.1+ KB