In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve

In [2]:
cycle_t = pd.read_csv('/Users/pedrorodriguez/Desktop/Springboard/Capstone Project/Raw_data/cycle_time_fixed')

In [3]:
cycle_t['station'] = cycle_t['station'].astype(object)
cycle_t['production_line'] = cycle_t['production_line'].astype(object)

In [4]:
del cycle_t['Sample']
del cycle_t['Unnamed: 0']
cycle_t.head()

  station production_line  Cycle_time    Ct_min     Ct_hr
0       1               1   96.200000  1.603333  0.026722
1       2               1   22.200000  0.370000  0.006167
2       3               2    7.250000  0.120833  0.002014
3       4               2   11.666667  0.194444  0.003241
4       5               2   75.250000  1.254167  0.020903

In [5]:
cycle_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station          5200 non-null   object
 1   production_line  5200 non-null   object
 2   Cycle_time       5200 non-null   float64
 3   Ct_min           5200 non-null   float64
 4   Ct_hr            5200 non-null   float64
dtypes: float64(3), object(2)
memory usage: 203.2+ KB

In [6]:
df = cycle_t[['station', 'production_line', 'Cycle_time']]
df.head()

  station production_line  Cycle_time
0       1               1   96.200000
1       2               1   22.200000
2       3               2    7.250000
3       4               2   11.666667
4       5               2   75.250000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   station          5200 non-null   object
 1   production_line  5200 non-null   object
 2   Cycle_time       5200 non-null   float64
dtypes: float64(1), object(2)
memory usage: 122.0+ KB

# Do the same process for downtime frequency

In [8]:
df_freq = pd.read_csv('/Users/pedrorodriguez/Desktop/Springboard/Capstone Project/Second Part/Downtime_freq')
df_freq.head()

   Unnamed: 0    station  station_no.        Date  Downtime  Year
0           0  station 1            1  2018-01-01         8  2018
1           1  station 2            2  2018-01-01         8  2018
2           2  station 3            3  2018-01-01         4  2018
3           3  station 4            4  2018-01-01         7  2018
4           4  station 5            5  2018-01-01         6  2018

In [9]:
df_f = df_freq[['station_no.', 'Date','Downtime', 'Year']]
df_f['station_no.'] = df_f['station_no.'].astype(object)
df_f = df_f.rename(columns = {'station_no.': 'station'})

In [10]:
df_f.head()

  station        Date  Downtime  Year
0       1  2018-01-01         8  2018
1       2  2018-01-01         8  2018
2       3  2018-01-01         4  2018
3       4  2018-01-01         7  2018
4       5  2018-01-01         6  2018

In [11]:
dfm = pd.merge(cycle_t, df_f, on='station')
del dfm['Date']

In [17]:
scaler = StandardScaler()
scaled_dfm = scaler.fit_transform(dfm)
scaled_dfm = pd.DataFrame(scaled_dfm, columns=dfm.columns)

In [18]:
train1, test1 = train_test_split(scaled_dfm, test_size= 0.3)
print(train.shape)
print(test.shape)

(87360, 7)
(37440, 7)

In [19]:
train2, test2 = train_test_split(dfm, test_size= 0.3)
print(train.shape)
print(test.shape)

(87360, 7)
(37440, 7)